{% extends 'base.html' %}
{% load staticfiles %}
{% load news_tags %}
{% block main %}
  <section id="content">
  	<div class="top">
    	<div class="container">
            <div class="clearfix">
                <div class="grid3 first">
                    <h2>新闻列表</h2>
                        <h3><a href="{% url 'news:index' %}" class="current">首页</a>> {{ whatcategory.name }}</h3>
                        {% if error_msg %}
                            <p>{{ error_msg }}</p>
                        {% endif %}

                    {% for post in  post_list %}
                        <article class="post post-{{ post.pk }}">
                        {% if forloop.counter <= 5  %}
                            <div>
                                <ul class="list3">
                                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                                    {{ post.created_time }}
                                <li></li>

                                </ul>
                            </div>
                        {% endif %}
                        </article>
                    {% empty %}
                        该分类下暂无文章<br>
                    {% endfor %}
                    <a href="{% url 'news:category_more_post' whatcategory.pk %}" class="more">更多文章</a>
{#                     <a href="#" class="more">更多文章</a>#}
                </div>

                  <div class="grid9">
                      <h2>新闻导读</h2>
                      {% for post in post_list %}
                          {% if forloop.first %}

                            <div class="img-box">
                              <figure><img src="{{ post.img.Img }}" width=400px height=450px></figure>
                              <p>&nbsp;</p>
                                {{ post.img.Img }}
                              <p style="font-size:22px;">{{ post.title }}</p>
                                <p>{{ post.created_time }} &nbsp;&nbsp;{{ post.views }}&nbsp;&nbsp;&nbsp;{{ post.author }}</p>
                                <p>{{ post.excerpt }}</p>
                            </div>
                            <p><a href="{{ post.get_absolute_url }}" class="more">阅读详情</a></p>

                          {% endif %}
                        {% empty %}
                      {% endfor %}

                  </div>
            </div>
        </div>
    </div>
    <div class="middle">
    	<div class="container">
      	<div class="clearfix">

            {% get_popular_post as popular_post_list %}
         	<div class="grid3 first">
                <h2>热点摘要</h2>
                {% for post in popular_post_list %}
                    {% if forloop.first %}
                        <div class="img-wrap"><figure><img src="{% static 'news/images/2page-img3.jpg' %}" alt=""></figure></div>
                        <p>{{ post.views }}</p>
                        <p style="font-size:18px;">{{ post.excerpt }}</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <a href="{{ post.get_absolute_url }}" class="more">阅读详情</a>
                    {% endif %}
                {% endfor %}

            </div>
        	<div class="grid9">
                <h2>热门新闻</h2>
                <div class="clearfix">
                    <div class="grid3 first">
                        <ul class="list3">
                            {% for post in popular_post_list %}
                            {% if forloop.counter <= 3 %}
                                <li></li>
                                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="grid3">
                        <ul class="list3">
                            {% for post in popular_post_list %}
                            {% if forloop.counter > 3 and forloop.counter < 7 %}
                                <li></li>
                                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                            {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="grid3">
                        <ul class="list3">
                           {% for post in popular_post_list %}
                            {% if forloop.counter > 6 and forloop.counter < 10 %}
                                <li></li>
                                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>


                </div>
                <p>&nbsp;</p>

{#                <p style="font-size:20px"><a href="#" class="more" >更多热门新闻</a></p>#}
            <p style="font-size:20px"><a href="{% url 'news:hot_topic' %}" class="more" >更多热门新闻</a></p>
            </div>

        </div>
      </div>
    </div>
  </section>

{% endblock %}